.work {
  padding: 6rem 0 0;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
}

.even {
  margin: 50px 0;
}

.left {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.img {
  object-fit: cover;
  border-radius: 5px;
}

.right {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.heading {
  color: var(--lightest-slate);
  font-family: var(--body-font);
  font-weight: 600;
  cursor: pointer;
}

.heading:hover {
  color: var(--green);
}

.desc {
  background-color: var(--body-color);
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  font-family: var(--body-font);
  line-height: 20px;
  font-size: var(--font-medium);
  padding: 20px;
  z-index: 2;
  width: 120%;
  border-radius: 5px;
  margin: 1rem 0;
}

.skill_container {
  font-size: var(--small-font-size);
  margin-bottom: 12px;
  display: flex;
}

.skill_container > p {
  margin: 0;
  margin-left: 12px;
}

.links_container {
  display: flex;
}

.link {
  cursor: pointer;
  margin-left: 20px;
}

.pMobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .desc {
    width: 100%;
    box-shadow: none;
  }

  .pMobile {
    display: flex;
    margin: 50px 0;
  }

  .even {
    display: none;
  }

  .project {
    flex-direction: column;
  }

  .right {
    align-items: center;
  }

  .heading {
    margin: 1rem 0 0 0;
  }

  .work {
    padding: 4rem 0 1rem;
  }
}
